<p id="notice"><%= notice %></p>

<p>
  <strong>country-id:</strong>
  <%= @recipe.country_id %>
</p>
</p>
  <strong>country_name:</strong>
  <% country = Country.find(  @recipe.country_id) %>
  <%= country.country_name %>
</p>
</p>
  <strong>recipe_name:</strong>
  <%= @recipe.recipe_name %>
</p>
<p>
  <strong>image:</strong>
  
<img src="/assets/<%= @recipe.image_file_name {:thumb} %>" alt="Logo"/>

</p>
<p>
  <strong>content:</strong>
  <%= simple_format(@recipe.recipe_content) %>

</p>
<p>
  <strong>calories:</strong>
  <%= @recipe.calories %>

</p>
        


  
 
<h2>Comments</h2>
 <% get_comments.each do |comment| %>

        <%= link_to comment.body, comment %> 
      </br>
       <% end %>

<%= form_for [@recipe, Comment.new], remote: true do |f| %>
  <p><%= f.label :body, "New Comment" %><br/>
     <%= f.text_area :body %> 
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>


<%= render_shareable :buttons=> ['twitter'] %>



<%= link_to 'Back', recipes_path %>

<%= link_to "like", {:controller => 'recipes', :action => 'upvote'} %>
  <%= @recipe.get_upvotes.size %>


  <%= link_to "dislike", {:controller => 'recipes', :action => 'downvote'} %>
  <%= @recipe.get_downvotes.size %>
