<p id="notice"><%= notice %></p>
<head>
  <meta charset="UTF-8" />
  <title>Famous recipe</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css" />
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie7.css" />
  <![endif]-->
  <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie6.css" />
  <![endif]-->
</head>
<body>
<div id="header">
     <div style="float:right, margin-top:-50px">
          <ul class="right" style="float:right; margin-top:-50px">
             <li> <%= link_to "Home", {:controller => 'kitchens', :action => 'index'} %> </li>
  <%if signed_in?%>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "signout", destroy_user_session_path, method: :delete%></li>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
  <%end%>
</ul>
          <%= form_tag recipes_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    
 <% end %>
        </div>
    <div>

      <div>
       <div id="logo" style="width:auto">
           <img src=<%=image_path("logo1.jpg")%>  alt="Logo"/>
              <img src=<%=image_path("logo1.jpg")%>  alt="Logo"/>

         </div>

      </div>

     </div>
  
</div>

 <!--  <div >
<img src="/assets/<%= @recipe.image_file_name {:thumb} %>" alt="Logo" style="float:center;,width:300px;,border:10;"/>

</div> -->

<div style=" text-align:center; margin-top:30px ; background-color:#cbfdcb; border-radius:40%; width:auto ; height:70px">
 <p style="padding-top:25px; font-size:30px" >
  <%= @recipe.recipe_name %>
</p>
</div>

<!-- <p>
  <strong>Country name:</strong>
  <% country = Country.find(  @recipe.country_id) %>

  <%= country.country_name %>
</p>

 -->

 <div style="background-color:#cbfdcb; text-align:center;  border-radius:10% ; height:auto; margin-top:90px ">
<p style="padding-top:25px">
  <%= simple_format(@recipe.recipe_content) %>
</p>
</div>
<!-- <p>
  <strong>calories:</strong>
  <%= @recipe.calories %>

</p> -->
        


   
<h2>Comments</h2>
<div >
  <p style="padding:5px">
 <% get_comments.each do |comment| %>

        <%= link_to comment.body, comment %> 
      </br>
       <% end %>
     </p>
</div>
<%= form_for [@recipe, Comment.new], remote: true do |f| %>
  <p><%= f.label :body, "New Comment" %><br/>
     <%= f.text_area :body %> 
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>


<%= render_shareable :buttons=> ['twitter'] %>

<p>

<% a="base_url + original_fullpath" %>
<a href="http://www.facebook.com/sharer.php?u=(a)" ><img src="/assets/Facebook.svg.png"/> </a>

</p>

<p>
<%= link_to "like", {:controller => 'recipes', :action => 'upvote'} %>
  <%= @recipe.get_upvotes.size %>

 <%= link_to "dislike", {:controller => 'recipes', :action => 'downvote'} %>
  <%= @recipe.get_downvotes.size %>

</p>

<%= link_to 'Back',country %>

