
<head>
  <meta charset="UTF-8" />
  <title>Famous recipes</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css" />
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie7.css" />
  <![endif]-->
  <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie6.css" />
  <![endif]-->
</head>
<body >


  <div id="header">
     <div style="float:right, margin-top:-50px">
          <ul class="right" style="float:right; margin-top:-50px">
  <%if signed_in?%>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "signout", destroy_user_session_path, method: :delete%></li>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
  <%end%>
</ul>
          <%= form_tag recipes_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    
 <% end %>
        </div>
    <div>

      <div>
        <div id="logo">
           <img src=<%=image_path("a4.png")%> alt="Logo"/>
         </div>
    
      </div>


      <ul>
        <li> <%= link_to "Home", {:controller => 'kitchens', :action => 'index'} %> </li>
        
       <% @kitchens.each do |kitchen| %>
      
        <li><%= link_to kitchen.kitchen_name, kitchen %></li>
     
    <% end %>
   </ul>
     </div>
      
 
  </div>
  <div id="content">
    <div class="home" style="width:100%"> 
      <div><table id="table" style="margin-left:-150px;  margin-top:80px;">
  <tr> 
    <td><img src=<%=image_path("4.jpg")%> data-id="a" class=" image"/></td>
     
        <td><img src=<%=image_path("front9.jpg")%> data-id="a" class=" image" /></td>  
 <td><img src=<%=image_path("front10.jpg")%> data-id="a" class=" image" /></td>  
  <td><img src=<%=image_path("front1.jpg")%> data-id="c" class=" image" /></td> 
      <td><img src=<%=image_path("tip2.png")%> data-id="c" class=" image" /><img src=<%=image_path("tip7.png")%> data-id="c" class=" image" /></td> 
  </tr>
  <tr>
    <td><img src=<%=image_path("front2.jpg")%> data-id="b" class=" image" /></td> 
     <td><img src=<%=image_path("front3.jpg")%> data-id="a" class=" image" /></td>    
     <td><img src=<%=image_path("front4.jpg")%> data-id="c" class=" image" /></td>  
    <td><img src=<%=image_path("front5.jpg")%> data-id="b" class=" image" /></td> 
        <td><img src=<%=image_path("tip10.png")%> data-id="c" class=" image" /><img src=<%=image_path("tip11.png")%> data-id="c" class=" image" /></td> 
  </tr>
  <tr>
     <td><img src=<%=image_path("front6.jpg")%> data-id="a" class=" image" /></td>  
     <td><img src=<%=image_path("front7.jpg")%> data-id="c" class=" image" /></td>      
  <td><img src=<%=image_path("burgercake.jpg")%> data-id="b" class=" image" /></td> 
    <td><img src=<%=image_path("front8.jpg")%> data-id="c" class=" image" /></td> 
        <td><img src=<%=image_path("tip8.png")%> data-id="c" class=" image" /><img src=<%=image_path("tip9.png")%> data-id="c" class=" image" /></td> 
  </tr>
   <tr>
     <td><img src=<%=image_path("tip2.png")%> data-id="a" class=" image" /></td>  
     <td><img src=<%=image_path("tip3.png")%> data-id="c" class=" image" /></td>      
  <td><img src=<%= image_path("tip5.png")%> data-id="b" class=" image" /></td> 
    <td><img src=<%=image_path("tip4.png")%> data-id="c" class=" image" /></td> 
        <td><img src=<%= image_path("tip6.png")%> data-id="c" class=" image" /></td> 
  </tr>
</table></div>
    </div>
  </div>
  <div id="footer">
    <div class="home">
      <div>
        <div class="aside">
          <div class="signup">
            
          </div>
          <div class="connect">
            <span></span>
            <ul>
        <!--       <li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook">Facebook</a></li>
              <li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitter">Twitter</a></li>
              <li><a href="#" class="subscribe">Subscribe</a></li>
              <li><a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" class="flicker">Flicker</a></li> -->
            </ul>
          </div>
        </div>
        
      </div>
    </div>
    
    
  </div>
</body>