<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kitchen.kitchen_name %>
</p>

<p>
  <strong>id:</strong>
  <%= @kitchen.id %>
</p>



<head>
  <meta charset="UTF-8" />
  <title>Famous recipes</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css" />
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie7.css" />
  <![endif]-->
  <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie6.css" />
  <![endif]-->
</head>
<body >


  <div id="header">
    <div>
      <div>
        <div id="logo">
      <img src="assets/food.jpg" alt="Logo"/>
        </div>
        <div>
          <ul class="right">
  <%if signed_in?%>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "signout", destroy_user_session_path, method: :delete%></li>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
  <%end%>
</ul>
          <%= form_tag recipes_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    
 <% end %>
        </div>
      </div>
      <ul>
        <li> <%= link_to "Home", {:controller => 'kitchens', :action => 'index'} %> </li>
       
  	<% get_countries.each do |country| %>
        <li> <%= link_to country.country_name, country %> </li>
    <% end %>
   </ul>
     </div>
      
 
  </div>
  <div id="content">
    <div class="home">
      <div class="aside">
        <h1>Welcome to our site</h1>
        <p>paragraph1.</p> 
        
        <p>paragraph2. <a href="index.html" class="readmore">read more</a></p>
      </div>
      <div class="section">
        <div>
          <h2>The food story</h2>
          <p>paragraaaaph.</p>
        </div>
        <ul>
          <li class="first">
           <img src="assets/2.jpg" alt="Image" />
          </li>
          <li>
            <img src="assets/burgercake.jpg" alt="Image" />
          </li>
          <li>
            <img src="assets/4.jpg" alt="Image" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="home">
      <div>
        <div class="aside">
          <div class="signup">
            
          </div>
          <div class="connect">
            <span>Follow Us</span>
            <ul>
              <li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook">Facebook</a></li>
              <li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitter">Twitter</a></li>
              <li><a href="#" class="subscribe">Subscribe</a></li>
              <li><a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" class="flicker">Flicker</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
    
    
  </div>
</body>