<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @country.country_name %>
</p>

<p>
  <strong>id:</strong>
  <%= @country.id %>
</p>

<p>

  <strong>kitchen_id:</strong>
    <%= @country.kitchen_id %>
</br>
  <strong>kitchen_name:</strong>
  <% kitchen = Kitchen.find(  @country.kitchen_id) %>
  <%= kitchen.kitchen_name %>

</p>

   <%= link_to "show_recipe", {:controller => 'countries', :action => 'get_recipes'} %> 
 -->

  <!--  <h1>Listing recipes</h1>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipess.each do |recipe| %>
  
      <tr>
        <td><%= recipe.recipe_name %></td>
        <td><%= recipe.id %></td>
        <td><%= link_to 'Show', recipe %></td>
      
      </tr>
  
    <% end %>
  </tbody>
</table> -->

<head>
  <meta charset="UTF-8" />
  <title>Famous recipe</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css" />
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie7.css" />
  <![endif]-->
  <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie6.css" />
  <![endif]-->
</head>
<body>
<div id="header">
     <div style="float:right, margin-top:-50px">
          <ul class="right" style="float:right; margin-top:-50px">
             <li> <%= link_to "Home", {:controller => 'kitchens', :action => 'index'} %> </li>
  <%if signed_in?%>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "signout", destroy_user_session_path, method: :delete%></li>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
  <%end%>
</ul>
          <%= form_tag recipes_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    
 <% end %>
        </div>
    <div>

      <div>
        <div id="logo">
           <img src=<%=image_path("logo1.jpg")%>  alt="Logo"/>
              <img src=<%=image_path("logo1.jpg")%>  alt="Logo"/>
               
         </div>

      </div>

     </div>
      
 
  </div>
  <div id="content">
    <div>
    </br>
      <h2  style="text-align:center"><strong style="font-size:50px" > <%= @country.country_name %> Recipes</strong></h1>
    </br>
      <ul>
 <% @recipess.each do |recipe| %>
</br>
</br>
        <li>
          <div>
              <h2> <%= recipe.recipe_name %></h2>  
       
            </div>
          <div>
            
       <%= link_to 'Show', recipe %>
     </br>
     </br> 
        <img src=<%=image_path("@recipe.image_file_name")%> alt="Image"  />

</br>
          </div>

        </li>
       <% end %>
      </ul>
    </div>
  </div>
  
  </div>
</body>
