<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @country.country_name %>
</p>

<p>
  <strong>id:</strong>
  <%= @country.id %>
</p>

<p>
	<!-- id= @country.kitchen_id -->
  <strong>kitchen_id:</strong>
    <%= @country.kitchen_id %>
  
  <% kitchen = Kitchen.find(  @country.kitchen_id) %>
  <%= kitchen.kitchen_name %>

</p>