<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @country.country_name %>
</p>

<p>
  <strong>id:</strong>
  <%= @country.id %>
</p>

<p>

  <strong>kitchen_id:</strong>
    <%= @country.kitchen_id %>
</br>
  <strong>kitchen_name:</strong>
  <% kitchen = Kitchen.find(  @country.kitchen_id) %>
  <%= kitchen.kitchen_name %>

</p>

   <%= link_to "show_reecipe", {:controller => 'countries', :action => 'get_recipes'} %> 
